html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin: 0;
}

.navbar {
    display: flex;
    padding: 10px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.brand, .nav-link {
    text-transform: uppercase;
    color: #303137;
}

.brand{
    font-size: 25px;
}

.shname{
    font-size: 20px;
    color:#9370DB;
}

.shsym{
    font-size: 20px;
    color:#c90606;  
}

.topnav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topnav .nav-link {
    text-decoration: none;
    padding-left: 20px;
    font-size: 20px;
}

.dropdownLink {
    display: none;
}

@media (max-width: 768px) {
    ul.topnav li a.nav-link {
        display: none;
    }

    ul.topnav li.dropdownLink {
        display: block;
        position: absolute;
        top: 15px;
        right:20px;
    }

    ul.topnav.responsive li.dropdownLink{
        position: absolute;
        top: 15px;
        right: 25px;
    }

    ul.topnav.responsive {
        flex-direction: column;
        text-align: right;
    }

    ul.topnav.responsive li {
        position: relative;
        top: 30px;
        right: 30px;
    }

    ul.topnav.responsive li a.nav-link {
        display: block;
        line-height: 2;
    }
}

